@import "node_modules/pixel-borders/src/styles/pixel-borders.scss";

@font-face {
  font-family: 'Minecraft';
  font-style: normal;
  font-weight: normal;
  src:
    url('../MinecraftRegular-Bmg3.otf') format('opentype'),
}

$textColor: #2c2c2c;
$backgroundColor: #ffffff;
$accentColor: #9e9e9e;

html {
    color: $textColor;
    font-family: Minecraft;
    background-color: $accentColor;
}

.characters {
    display: flex;
}

.character-card {
    background-color: $backgroundColor;
    padding: 10px;
    max-width: 400px;
}

.character-mainStats--chartContainer {
    height: 280px;
    width: 280px;
}

.character-info--upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.character-info--upperLeft {
    display: flex;
    flex-direction: column;
    width: 180px;
}

.character-avatar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 180px;
    width: 180px;
    border: 2px solid black;
}

.character-mainStats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.source {
    font-size: 10px;
    color: grey;
}

.character-prop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.character-prop-name {
    font-weight: 900;
}

.character-prop-value {
    font-size: 24px;
}

.name {
    font-size: 32px;
    font-weight: bold;
}

.title {
    font-size: 24px;
    font-style: italic;
    margin-bottom: 20px;
}

.description {
    text-align: justify;
}