@import "node_modules/pixel-borders/src/styles/pixel-borders.scss";

@font-face {
  font-family: 'Minecraft';
  font-style: normal;
  font-weight: normal;
  src:
    url('../MinecraftRegular-Bmg3.otf') format('opentype'),
}

$textColor: #fff2e1;
$backgroundColor: #807070;
$accentColor: #756352;

html {
    color: $textColor;
    font-family: Minecraft;
    background-color: $accentColor;
}

.characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.character-card {
    background-color: $backgroundColor;
    padding: 10px;
    width: 90vw;
    max-width: 400px;
    margin: 0;
}

@media only screen and (max-width: 1020px) {
    .characters {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}

.character-mainStats--chartContainer {
    height: 280px;
    width: 280px;
}

.character-info--upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.character-info--upperLeft {
    display: flex;
    flex-direction: column;
    width: 180px;
}

.character-avatar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 180px;
    width: 180px;
}

.character-mainStats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-prop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.character-prop-name {
    font-weight: 900;
}

.character-prop-value {
    font-size: 22px;
}

.name {
    font-size: 26px;
    font-weight: bold;
}

.title {
    font-size: 22px;
    font-style: italic;
    margin-bottom: 20px;
}

.description {
    text-align: justify;
}

.ring {
    margin: 10px 20px;
    width: 90px;
    height: 60px;
}